@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body {
    text-align: center;
    background: #f0eded:
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    font-family:"Zen Dots";
    font-size: 50px;
    color: solid black;
}

img {
}

div {
	padding: 8px;
	margin: 8px;
}


header {
        display: flex; flex-wrap: wrap;
	
    	
        

        
        
 

        column-count: 3;

        border: 0px solid black;
        margin: 0px;
        padding: 1px;

}

main {
    column-count: 3;
    margin: 0px;
    padding: 1px;
}


section {
    border: 2px solid black;
    margin: 1px;
    padding: 1px;
}


footer {
    column-count: 4;
    border: 1px solid black;
    margin: 1px;
    padding: 1px;
}

.content {
	display:block;
    border: 2px solid red;
}

.content section {
	overflow:scroll;
}

.logo {
    border: 2px solid green;
	width:15%;
	height:auto;
}
