@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body {
    text-align: center;
    background: #f0EDED:
    margin: 0px;
    padding: 0px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 50px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 30px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
    text-align: center;
    font-family:"Zen Dots";
    font-size: 100px;
    color: solid black;
}

div {
	padding: 8px;
	margin: 8px;
}

header {
        display: flex;
        flex-basis:100%;
        column-count: 3;
        object-fit: fill;
        object-position: 10px 10px 10px 10%;
        border: 0px solid black;
        margin: 0px;
        padding: 1px;
}

main {
    margin: 0px;
    padding: 1px;
}


section {
    border: 2px solid black;
    margin: 1px;
    padding: 1px;
}


footer {
    column-count: 4;
    border: 1px solid black;
    margin: 1px;
    padding: 1px;
}

.content {
	display:block;
    border: 2px solid red;
    width:auto;
    height:auto;
}

.content section {
	overflow:scroll;
}
.logo {
    0px solid green;
	width:50%;
	height:50%;
}
#logo1 {
    float: left;
    margin: 0;
}
#logo2 {
    float: right;
    margin: 0;
}

#nav-bar {
    display: block;
    text-align: center;
    font-size: 50px;
}